
.sign-in {
  display: flex;
  flex-direction: column;
  width: 380px;

  h2 {
    margin: 10px 0;
  }

  .sign-in__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.error {
  position: absolute;
  transform: translateY(-45px);
  color: red;
  animation: FadeIn 0.6s;
}

@keyframes FadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}